/* Estilo pré-setado para o componente Bold */
.destaqueVermelho{
    background: #E4022D;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 18px;
}
  
@media screen and (min-width: 768px) {
    .destaqueVermelho{
        font-size: 30px;
    }
}