/* Estilos para o Header */
.header{
  display: flex;
  position: inherit;
  background-color: "#ffffff";
  flex-direction: column;
  height: 80px;
  border-bottom: 1px solid #EBEBEB;
}

.containerContentHeader{
  display: flex;
  height: 100%;
  margin: 0px 81px 0px 81px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navContainer{
  display: flex;
  width: 500px;
  margin: 0;
  height: 100%;
  align-items: center;
}

.itensNav{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.navDestaque{
  color: #E4022D;
  font-weight: bold;
}

.navLi{
  color: #333333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.navDestaqueBottom{
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 6px #E4022D;
}

.hamburgerMenu{
  display: none;
}

.logo{
  display: flex;
  align-items: center;
}

/* Media query para telas menores que 600px, mobile para celulares */
@media screen and (max-width: 400px) {
  .containerDrawer{
    width: 280px !important;
  }
}

/* Media query para telas menores que 768px, mobile para tablets */
@media screen and (max-width: 768px) {
  .navContainer{
    display: none;
  }

  .hamburgerMenu{
    display: flex;
    border: none;
    background-color: transparent;
  }

  .containerDrawer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 320px;
  }

  .containerContentHeader{
    margin: 0px 23px 0px 23px;
  }

  .botaoFecharDrawer{
    background-color: transparent;
    border: none;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
  }

  .drawerNavContainer{
    height: 100%;
    margin-top: 20px;
  }

  .drawerNavContainer ul{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .drawerNavContainer ul li{
    height: 25%;
    color: #333333;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
  }

  .drawerNavDestaque{
    background-color: #E4022D;
    font-weight: 500;
    color: white !important;
  }

}

