/* Mobile */
.containerRefeicoesConsumo > div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.containerRefeicoesConsumo > div > p{
    font-size: 13px;
}

.quantidadesCaloria{
    font-size: 16px;
    font-weight: 500;
}

.quantidadesCaloria > span{
    font-weight: 900;
}

.refeicoesConsumoKcal{
    color: red;
    font-weight: 900;
    margin-top: -5px;
}

@media screen and (min-width: 768px) {
    .containerRefeicoesConsumo{
        align-self: flex-end;
    }

    .containerRefeicoesConsumo > div > p{
        font-size: 18px;
    }
    
    .quantidadesCaloria{
        font-size: 22px;
        font-weight: 500;
    }
}