.mainContainer{
    height: 100vh;
}

.areaFechar{
    background-color: red;
}

.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #999999;
    border-radius: 8px;
    height: 35px;
    gap: 10px;
}

.searchBar > div:first-of-type {
    width: 100%;
}

.searchBar > div > input{
    border: none;
    height: 40;
    width: 95%;
    margin-left: 12px;
    padding: 5px 0px 5px 0px;
}

.icon{
    height: 50%;
    margin-right: 12px;
}