/* mobile */
.containerSemObjetivo{
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
    align-items: left;
    margin-top: 46px;
}

.titleSemObjetivo{
    font-size: 54px;
    font-weight: 900;
    text-align: left;
}

.descricaoSemObjetivo{
    padding: 0px 0px 0px 0px;
    font-size: 22px;
    text-align: left;
    line-height: 1.5;
    margin-top: 24px;
}

.descricaoObjetivo {
    padding: 0;
    font-size: 18px; /* Reduz o tamanho da fonte para dispositivos móveis */
    text-align: justify;
    line-height: 1.5;
    max-width: 100%; /* Define a largura máxima como 100% para dispositivos móveis */
    margin: 20px auto; /* Reduz a margem para dispositivos móveis */
}

.bulletPoints {
    margin-top: 20px;
}

.bulletPoints ul {
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.bulletPoints li {
    margin-top: 20px;
    width: 100%; /* Define a largura dos itens da lista como 100% */
    margin: 0 20px; /* Adiciona margem entre os bullet points */
}


.miniTitulo {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}


.botaoSemObjetivo{
    margin-top: 38px;
}

.tituloObjetivo {
    font-weight: bold;
    margin-top: 40px;
    font-size: 35px;
}

.descContainer {
    font-weight: bold;
    margin-top: 22px;
    font-size: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: column; /* Alterado para column */
}

.inputGroup {
    /* flex: 1; */ /* Removido */
    margin-bottom: 10px; /* Adicionado espaçamento entre os inputs */
}

.mensagemObjetivo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: auto; /* Posiciona o elemento à direita */
}

.inputGroup label {
    display: block;
    margin-bottom: 5px;
}

.inputGroup input {
    width: 100%; /* Definido para ocupar toda a largura do container */
    padding: 5px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}





/* desktop */
@media screen and (min-width: 768px) {
    .containerSemObjetivo{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding: 0px 0px 0px 0px;
    }

    .tituloDescricao{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mensagemObjetivo {
        font-size: 30px;
        text-align: right;
        margin-left: auto;
        word-break: break-all;
    }

    .titleSemObjetivo{
        font-size: 80px;
        font-weight: 900;
        text-align: left;
    }

    .descricaoSemObjetivo{
        padding: 0px 0px 0px 0px;
        font-size: 28px;
        text-align: left;
        line-height: 1.5;
        margin-top: 14px;
    }

    .descricaoObjetivo {
        padding: 0px 0px 0px 0px;
        font-size: 24px;
        text-align: left; /* Alinha o texto à esquerda */
        line-height: 1.5;
        max-width: 50%;
        margin: 50 auto; /* Centraliza o texto na página */
        text-align: justify; /* Justifica o conteúdo */
    }

    .bulletPoints {
        margin-top: 20px; /* Adiciona um espaço entre a imagem e os bullet points */
    }
    
    .bulletPoints ul {
        font-size: 24px;
        text-align: justify;
        list-style-type: none; /* Remove os bullets padrão da lista */
        display: flex; /* Permite que os itens da lista fiquem lado a lado */
    }
    
    .bulletPoints li {
        margin-left: 200px; 
        margin-right: 200px; /* Adiciona espaço entre os bullet points */
        flex: 1; /* Distribui igualmente o espaço entre os bullet points */
    }
    
    .miniTitulo {
        font-weight: bold; /* Adiciona negrito ao mini título */
        color: #333; /* Define a cor do mini título */
        margin-bottom: 5px; /* Adiciona espaço entre o mini título e o conteúdo */
        display: block; /* Define o elemento como um bloco para garantir que ocupe uma linha inteira */
    }
    

    .botaoSemObjetivo{
        margin-top: 62px;
    }

    .tituloObjetivo {
        font-weight: bold;
        margin-top: 40px;
        font-size: 50px;
    }
    
    .descContainer {
        font-weight: bold;
        margin-top: 22px;
        font-size: 20px;
    }

    .inputContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .inputGroup {
        flex: 1;
        margin-right: 300px; /* Ajuste conforme necessário */
    }
    
    .inputGroup label {
        display: block;
        margin-bottom: 5px;
    }
    
    .inputGroup input {
        width: 50%;
        padding: 5px;
        height: 50px;
        border: 1px solid black;
        border-radius: 10px;
        box-sizing: border-box;
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 20px;
    }
    
}