/* Mudando a estrutura do body para pegar toda a tela */
*{
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Tirando o estilo pré-setado das tags link */
a{
  color: inherit;
  text-decoration: none;
}

