/* Mudando a estrutura do body para pegar toda a tela */
*{
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Tirando o estilo pré-setado das tags link */
a{
  color: inherit;
  text-decoration: none;
}

/* Definindo uma margin para o conteúdo principal do site */
.containerChildrenLayout{
  margin: 40px 85px 40px 85px;
}
@media screen and (max-width: 768px) {
  .containerChildrenLayout{
    margin: 25px 30px 25px 30px;
  }
}
